body {
    margin:0px;
	padding:0px;
	background-image:url(black.jpg);
	background-size: 100% 100%;
		}

#header {
		margin:auto;
		width:100%;
		
		font-family:Arial, Helvetica, sans-serif;
		}
.cabecera{
		width:100%;
		background-color:#43EB97;
		/*background:black;*/
		position:fixed;
}
ul, ol {
		list-style:none;
	}
			
.nav {
		width:650px; /*Le establecemos un ancho*/
		margin:0 auto; /*Centramos automaticamente*/
}
 
.nav > li {
		float:left;
}
			
.nav li a {
		background-color:#6FC;
				color:black;
		text-decoration:none;
		font-size:19px;
		padding:18px 18px;			
		display:block;
		
}
.nav li a:hover {
		background-color:#3F6;
}
			
.nav li ul {
	
		display:none;
		position:absolute;
		min-width:-140px;
		
		
}
			
.nav li:hover > ul {
		display:block;
}
			
.nav li ul li {
		position:relative;
}
			
.nav li ul li ul {
				right:-140px;
				top:0px;
}
.nav li ul li {
			left: -40px;
}
.portada{
	padding:0;
/*	background-color:#300;*/
	font-size:36px;
	background-image:	url(black.jpg);
	}

.imagen
{
	float:left;
	height: 50px;
	width: 50px;
}
.imagen2
{
	float:right;
	height: 50px;
	width: 50px;
}
.logo
{
	float: left;

}
			
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*#btn-menu{
	display:none;
}
*/
/*
.cabecera label{
	display: none;
	width: 70px;
	
	height: 70px;
	padding: 10px;
	border-right: 2px solid #000;
	}
	
 #btn-menu :hover {
	cursor: pointer;
	background:red;
	display:block;
}

/*---------------------------------------------------------------------------------END*/
/*@media (max-width:760px) {
	header label {
		display: block;
	}
	.menu_main {
		position:absolute;
		background:#0F0;
		width: 70%;
		margin-left: -70%;
		transition:all 0.5s;
	}
	.menu_main ul {
		flex-direction: column
	}
	.menu_main li {
		border-top: 1px solid #fff;
	}
	#btn-menu:checked ~ .menu_main{
		margin: 0;
		
	}
}
