<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Mantenimiento Proveedor</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.js" th:href="@{/css/bootstrap.min.js}">
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="static/css/estilos.css" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" href="static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="static/css/fonts.css" th:href="@{/css/fonts.css}">
</head>
<body>
<div class="jumbotron">


    <center><img th:src="@{/img/met.png}" src="../static/img/met.png" height="150px" width="150px"></center>
</div>
<!--   -------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html"><span class="icon-home3"> </span> Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-cart"></span> Compras
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="MantenimientoCompras.html"> Consultar Compras</a>

                </div>
            </li>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-dollar"> </span>  Ventas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"> Consultar Ventas</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="MantenimientoMateriales.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-truck"> </span>  Proveedores
                </a> <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="MantenimientoProveedores1.html">  Consultar Proveedores</a>

            </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="MantenimientoProveedores1.html">  Consultar Proveedores</a>

                </div>

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-recycle"> </span>  Materiales
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Tmateriales.html"> Materiales</a>
                    <a class="dropdown-item" href="MantenimientoMateriales.html">  Tipos Materiales</a>

                </div>
            </li>

        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>


<center>


    <div class="tituloMateriales">
        <center> <h2>Proveedores</h2></center>
    </div>
</center>
<br>
<br>
<div class="container">
    <div class="marcoMateriales">
        <div class="row">
            <div class="col">
  <span class="float-right">

   <label>Buscar RFC: </label>

  <input type="text" id="txfolio">
  <button  class="btn btn-link"> <img th:src="@{/img/archivo.png}" src="/img/archivo.png"></button>
        </span>
            </div>
        </div>

        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModalCenter"><img th:src="@{/img/bloc.png}" src="/img/bloc.png" width="30px" height="30px"></button>
        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModalCenter2"><img th:src="@{/img/lapiz.png}" src="img/lapiz.png" width="30px" height="30px"></button>
        <!--<button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModalCenter2"><img th:src="@{/img/bloc.png}" src="/img/lapiz.png" width="30px" height="30px"> </button>
        -->

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID Proveedor</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Nombre Empresa</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Numero Telefónico</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proveedores : ${proveedor}">
                    <th scope="row" th:text="${proveedores.idProveedor}"></th>
                    <td th:text="${proveedores.rfc}"></td>
                    <td th:text="${proveedores.nomEmpresa}"></td>
                    <td th:text="${proveedores.dir}"></td>
                    <td th:text="${proveedores.numTel}"></td>
                    <td><button type="button" class="btn btn-secondary btn-md" data-toggle="modal" data-target="#exampleModalCenter2"><img th:src="@{/img/lapiz.png}" src="img/lapiz.png" width="25px" height="25px"></button></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
<br>
<br>
</center>
<!--class="btn btn-link"-->
<script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Ventana para Registrar Materiales -->
    <div class="modal fade align-self-center" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <form class="modal-content" th:action="@{/proveedor/addProveedor}" method="post" th:object="${proveedores}" >
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Registrar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>RFC:</label>
                            <input th:field="*{rfc}" type="text" class="form-control2" maxlength="13" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$" title="No se cumple con los campos requeridos para el RFC" required>
                            <!--th:field="*{idMaterialCat}"-->
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md">
                            <label>Nombre de la empresa: </label>
                            <input th:field="*{nomEmpresa}" type="text" class="form-control" required>
                            <!--th:field="*{unidadMedida}"-->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label>Dirección:</label>
                            <input th:field="*{dir}" type="text" class="form-control" required>
                            <!-- th:field="*{unidadMedida}" -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Número Telefónico:</label>
                            <input th:field="*{numTel}" type="tel" class="form-control2" pattern="[0-9]{10}" title="Ingrese el numer telefónico en formato correcto" required>
                            <!-- th:field="*{unidadMedida}" -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary btn-lg"><img th:src="@{/img/cruz.png}"> Cancelar</button>
                    <button class="btn btn-secondary btn-lg"><img th:src="@{/img/guardar.png}"> Realizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin Ventana Registrar Materiales -->

<!-- Ventana para Modificar Materiales -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form class="modal-content" th:action="@{/proveedor/addProveedor}" method="post" th:object="${proveedores}" >
            <!--th:action="@{/tipoMaterial/addTipoMaterial}" method="post" th:object="${tipoMateriales}"-->

            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modificar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>RFC:</label>
                        <input th:field="*{rfc}" type="text" class="form-control2" maxlength="13" pattern="^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))((-)?([A-Z\d]{3}))?$" title="No se cumple con los campos requeridos para el RFC" required>
                        <!--th:field="*{idMaterialCat}"-->
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md">
                        <label>Nombre de la empresa: </label>
                        <input th:field="*{nomEmpresa}" type="text" class="form-control" required>
                        <!--th:field="*{unidadMedida}"-->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label>Dirección:</label>
                        <input th:field="*{dir}" type="text" class="form-control" required>
                        <!-- th:field="*{unidadMedida}" -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Número Telefónico:</label>
                        <input th:field="*{numTel}" type="tel" class="form-control2" pattern="[0-9]{10}" title="Ingrese el numer telefónico en formato correcto" required>
                        <!-- th:field="*{unidadMedida}" -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary btn-lg"><img th:src="@{/img/cruz.png}"> Cancelar</button>
                <button class="btn btn-secondary btn-lg"><img th:src="@{/img/guardar.png}"> Realizar</button>
            </div>
        </form>
    </div>
</div>
<!-- Fin Ventana Modificar Materiales -->
<div class="container mt-5">
    <h1>Buscador con IndexOf</h1>
    <input type="text" id="formulario" class="form-control my-2">
    <button class="btn btn-info mb-2" id="boton">Buscar</button>
    <ul id="resultados">
        <li>adasdas</li>
    </ul>
</div>

<script>

    const productos = [
        {nombre: 'Platanos', valor: 500},
        {nombre: 'Pera', valor: 500},
        {nombre: 'Sandia', valor: 500},
        {nombre: 'Melon', valor: 500},
        {nombre: 'Fresa', valor: 500}
        ];

    /*for each (proveedores in objeto){
            productos = [{
                nombre: '${proveedores.rfc}', nom: 200
            }]
    }*/

    const form = document.querySelector('#formulario');
    const boton = document.querySelector('#boton');
    const resultado = document.querySelector('#resultados');

    const filtrar = ()=>{
        //console.log(form.value);
        resultado.innerHTML = '';
        const text = formulario.value.toLowerCase();

        for (let producto of productos){
            let nombre = producto.nombre.toLowerCase();
            if(nombre.indexOf(text) !== -1){
                resultado.innerHTML += `
                    <li>${producto.nombre} - Valor: ${producto.valor} </li>
                `
            }
        }

        if(resultado.innerHTML === ''){
            resultado.innerHTML += `
                    <li>Producto no encontrado</li>
                `
        }
    }

    boton.addEventListener('click',filtrar);
    form.addEventListener('keyup',filtrar);
</script>
</body>
</html>